<div class="row footerhome">

<div class=" divsite-footer-wrapper-1tw" id="34:111">
    <div class="divsite-footer-wXh" id="34:112">
    <div class="questions-call-1-844-505-2993-5to" id="34:114">Questions? Call 1-844-505-2993</div>
    <div class="list-BS3" id="34:115">
    <div class="auto-group-wwyv-74o" id="8MB54pinx51Tcu3iLRWwyV">
    <div class="auto-group-vnsp-T8f" id="8MB4gfh3U1Mso5bvmgvnSP">
    <div class="item-link-faq-Crw" id="34:116">FAQ</div>
    <div class="item-link-privacy-tjm" id="34:120">Privacy</div>
    </div>
    <div class="auto-group-sjmd-Bis" id="8MB4mfYiVYGqPrKWALSjMd">
    <div class="item-link-help-center-LLs" id="34:117">Help Center</div>
    <div class="item-link-cookie-preferences-rKD" id="34:121">Cookie Preferences</div>
    </div>
    <div class="auto-group-cgsm-BcP" id="8MB4rzjAeueXNGpPFACGsM">
    <div class="item-link-netflix-shop-wLf" id="34:118">Netflix Shop</div>
    <div class="item-link-corporate-information-Doy" id="34:122">Corporate Information</div>
    </div>
    </div>
    <div class="auto-group-gdt1-9Bq" id="8MB4wF768K2LdL2XKugdT1">
    <div class="item-link-terms-of-use-675" id="34:119">Terms of Use</div>
    <div class="item-link-zTM" id="34:123">
    <div class="do-not-sell-or-share-my-personal-Jiw" id="34:124">Do Not Sell or Share My Personal</div>
    <div class="information-bCF" id="34:125">Information</div>
    </div>
    </div>
    </div>
    </div>
</div>
