<nav class="navbar navbar-dark bg-dark-subtle sticky-top flex-md-nowrap px-3 shadow  fixed-top">
    <div class="logo">
      <img src='https://upload.wikimedia.org/wikipedia/commons/7/7a/Logonetflix.png' alt="Netflix Logo">
    </div>
    <ul class="nav-links">
      <li><a routerLink="/acceuil">Accueil</a></li>
      <li><a routerLink="/series">Séries</a></li>
      <li><a routerLink="/films">Films</a></li>
      <li><a routerLink="/nouveautes">Nouveautés</a></li>
      <li><a routerLink="/MaListe">Ma liste</a></li>
    </ul>
    <div class="profile">
      <img src="https://i.pinimg.com/originals/25/78/61/25786134576ce0344893b33a051160b1.jpg" alt="Profile Image">
    </div>
</nav>
